* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 18px 7rem;
}

.page-container nav {
  position: relative;
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.page-container nav .page-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.page-container nav .search-bar {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.page-container nav .logo {
  width: 36px;
}

.page-container nav .searchForm {
  border: 1px solid #777;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  overflow: hidden;
  height: 36px;
}

.page-container nav .searchForm input {
  flex: 1;
  padding: 4px 4px 4px 24px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: sans-serif !important;
}

.page-container nav .user-profile {
  display: flex;
  gap: 12px;
  align-items: center;
}

.page-container nav .user-profile .profile-picture {
  width: 100%;
}

.page-container nav .user-profile .profile-circle {
  border: 1px solid rgba(20, 69, 52, 0.2);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  overflow: hidden;
  padding: 8px;
}

.page-container nav .user-profile .profile-name {
  font-weight: bold;
  color: #144534;
}

/* ************************************************ */

.page-container .arrow-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  color: #21c560;
}

.page-container>.arrow-logo>i,
a {
  text-decoration: none;
  color: #21c560;
  font-size: 14px;
  font-weight: 500;
}



.page-container .body-text {
  margin-bottom: 100px;
}

.page-container .body-text .tab-content {
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.main-tab-content {
  flex: 3;
}

.aside-tab-content {
  flex: 1;
}


.page-container .body-text h1 {
  font-weight: 700;
  color: #144534;
  margin-bottom: 40px;
}

.list-menu .navbar-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #68837a;
  border-right: none;
  margin-bottom: 20px;
}

.list-menu .nav-item {
  margin: 0;
  padding: 10px;
  color: var(--theme-color);
}

.list-menu .nav-item a {
  text-decoration: none;
  color: #68837a;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.list-menu .nav-item a:hover {
  color: var(--theme-color);
}

.list-menu .nav-item.active a {
  color: var(--theme-color);
  padding: 10px;
  border-bottom: 2px solid #68837a;
}



.page-container .body-text .summary-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid rgba(119, 119, 119, 0.2);
  justify-content: space-between;
  border-radius: 12px;
  padding: 32px 20px;
  align-items: center;
  margin-bottom: 20px;
}

.page-container .body-text .summary-grid .divider {
  width: 1px;
  height: 52px;
  background-color: rgba(119, 119, 119, 0.2);
  display: block;
}

.page-container .body-text .summary-grid div {
  text-align: center;
}

.page-container .body-text .summary-grid div:nth-child(1),
.page-container .body-text .summary-grid div:nth-child(2),
.page-container .body-text .summary-grid div:nth-child(3) {
  border-right: 1px solid rgba(119, 119, 119, 0.2);
}

.page-container .body-text .summary-grid div h3 {
  font-size: 24px;
  font-family: serif !important;
  color: #144534;
  margin-bottom: 4px;
}

.page-container .body-text .summary-grid div p {
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: bold;
  color: #777777;
}



.page-container .body-text .chart {
  border: 1px solid rgba(119, 119, 119, 0.2);
  border-radius: 12px;
  padding: 24px 20px;
}

.page-container .body-text .chart .chart-header {
  display: flex;
  justify-content: space-between;
}

.page-container .body-text .chart .chart-header h2:first-child {
  font-weight: 700;
  color: #144534;
}

.page-container .body-text .chart .chart-header h2:last-child {
  font-weight: 300;
}


.page-container .body-text .tab-content .aside-tab-content img {
  margin-bottom: 12px;
}

.page-container .body-text .tab-content .aside-tab-content span {
  font-size: 12px;
  color: #777777;
  margin-bottom: 8px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.page-container .body-text .tab-content .aside-tab-content p {
  margin-bottom: 20px;
  font-family: serif !important;
  font-weight: 600;
  color: #144534;
}

.page-container .body-text .tab-content .aside-tab-content hr {
  margin: 20px 0;
  background-color: rgba(119, 119, 119, 0.2);
  padding: 0.5px;
  border: 0;
}

.badge {
  display: flex;
  gap: 4px;
}

.badge img.badge-logo {
  width: 32px;
}



footer {
  text-align: center;
}

footer p.copyright {
  font-size: 14px;
  color: #777777;
}



.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  display: none;
}

.mobile-menu span {
  width: 40px;
  height: 2px;
  background-color: #144534;
  border-radius: 4px;
}



@media screen and (max-width: 1115px) {
  .page-container {
    padding: 18px;
  }
}

@media screen and (max-width: 1070px) {
  .page-container {
    padding: 18px;
  }

  .page-container .body-text .tab-content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .page-container .body-text .summary-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .page-container .body-text .summary-grid div:nth-child(2) {
    border-right: none;
  }
}

@media screen and (max-width: 640px) {
  .page-container nav .searchForm input {
    background-color: transparent;
  }

  .page-container nav .search-bar {
    display: none;
  }

  .page-container nav .search-bar {
    position: absolute;
    top: 100%;
    flex-direction: column;
    background-color: rgb(255, 247, 247);
    padding: 20px;
    border-radius: 4px;
    margin-top: 8px;
    width: 90%;
  }

  .mobile-menu {
    display: flex;
  }

  .user-profile {
    margin-top: 20px;
  }
}